
<%//받아와야하는 데이터들.
//검색된 보드
var[] boardList;
%>

<%//유저 아이디 불러오기.
	String userID = null;;String userName=null;
	if(session.getAttribute("userID")!=null)
	{
		userID = (String) session.getAttribute("userID");
	}
%>


<%
String userID = null;
String boardType="countryForum";

//현재 페이지 번호
int pageNo=1;
//페이지당 보드 출력수.
int boardIndexNoPerPage=15;




if(session.getAttribute("userID")!=null)
{
	userID = (String) session.getAttribute("userID");
}
%>


<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset = "UTF-8">
<title>WTG</title>
<link rel = "stylesheet" href = "styles/styles.css"/>
</head>
</head>
<body>
<header>
	<% include ../part/header.ejs %>
</header>
<section>
	<article id = freeForum1>
		<div id = "upperBoardBorderSolid">
			해외포럼
		</div>
		<div id = "mainBoard">
			<table style="width:100%;text-align:center;" >
				<thead style ="text-align:center;background-color:#B2CCFF;">
					<tr >
						<th width="10%">번호</th>
						<th width="10%">분류</th>
						<th width = "40%">제목</th>
						<th width = "15%">등록일</th>
						<th width = "15%">작성자</th>
						<th width = "10%">조회수</th>
					</tr>
				</thead>
				<tbody>

<%//보드 내용 검색
					//보드 에러
					if(boardList==null){%>
						<tr><td colspan = "6"><h1 >등록된 보드가 없습니다.</h1></td></tr>
					<%}

					//보드 검색내용 없음
					else if(boardList.size()==0){%>
					<tr><td colspan = "6"><h1 >등록된 글이 없습니다..</h1></td></tr>
					<%}

					//보드 검색중.
					else{
						//순서검색
						int  NoStart = boardList.size()-(pageNo-1)*boardIndexNoPerPage;int NoNextStart = NoStart-boardIndexNoPerPage;

						
						for(int indexNo=NoStart ;(indexNo>=1)&&(indexNo>NoNextStart);indexNo--){
							BoardDTO boardList = boardList.get(indexNo-1);%>
							<tr>
								<td><a href = "countryForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=indexNo%></a></td>	
								<td><a href = "countryForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black">
									<%if(boardList[indexNo-1].boardClassfy().equals("Korea")){%>한국
									<%}else if(boardList[indexNo-1].boardClassfy().equals("Japan")){%>일본
									<%}else if(boardList[indexNo-1].boardClassfy().equals("China")){%>중국
									<%} %>
								</a></td>	
								<td><a href = "countryForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardTitle%></a></td>	
								<td><a href = "countryForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardEnrollDate%></a></td>	
								<td><a href = "countryForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardWriter%></a></td>
								<td><a href = "countryForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardViews%></a></td>	
							</tr>
					
						<%}
					}%>
				</tbody>
			</table>
			</div>
			<div id = "BoardSearch">
				
				<%
				//글수에 따라 << 1 ... 10>>, <<현재 , ... , 현재+8 >>식 이동.
				//가장 오랜된글 >>(맨끝으로)
				//1 : <<(최신글로)
				//MaxIndexAdd1 : 10개 못채우는 나머지 있을때 최대페이지번호 +1해줘야함.
				if(boardList!=null&&boardList.size()!=0){
							
							int MaxIndexAdd1=0;	
							if(boardList.size()%boardIndexNoPerPage!=0){MaxIndexAdd1=1;}
							int MaxIndex=(boardList.size()/boardIndexNoPerPage)+MaxIndexAdd1;%> 
							<div id="BoardPageNo">
								<a href="countryForum.ejs?pageNo=<%=1%>"><<</a>
									<%
									//시작번호 10넘어가면 현재번호부터 10개
									if(pageNo>10)
									{
										//-10돌아가는 < 추가.%>
										<a href="countryForum.ejs?pageNo=<%=pageNo-10%>"> &nbsp < &nbsp </a>	
										<%//1페이지씩 표시.
										for(int i=pageNo;(i<pageNo+10)&&(i<=MaxIndex);i++)
										{%>
											<a href = "countryForum.ejs?pageNo=<%=i%>"><%=i%></a>
										<%}
										//+10이후 더있으면 +10하는 >추가.
										if(pageNo+10<MaxIndex){%><a href="countryForum.ejs?pageNo=<%=pageNo+10%>"> &nbsp > &nbsp </a><%}
									}else{		
									//1붙터 시작하면 10or최대값 까지
										for(int i=1;(i<=MaxIndex);i++){%><a href = "countryForum.ejs?pageNo=<%=i%>"><%=i%></a><%}
									}%>
									<a href="countryForum.ejs?pageNo=<%=MaxIndex%>">>></a>
							</div>
				<%}%>
				
				
				<%if(userID!=null) {%>
						<div ><a href = "./boardEnroll.ejs?boardType=countryForum"><button  >글쓰기</button></a></div>
				<%}%>
				<form action ="./countryForum.ejs" method = "get" >
					<select name = "boardClassfy" class =  "form-control">
						<option   value = "All" selected > 나라</option>
						<option value = "Japan" > 일본</option>
						<option value = "Korea" > 한국</option>
						<option value = "China" > 중국</option>
					</select>
					
					<select name = "Order" class =  "form-control">
						<option   value = "None" selected > 정렬</option>
						<option value = "제목" > Title</option>
						<option value = "작성자" > Writer</option>
					</select>
					<br>
					<select name = "SearchFor" class =  "form-control">
						<option   value = "All" selected > 전체</option>
						<option value = "제목" > Title</option>
						<option value = "작성자" > Writer</option>
					</select>
					<input type = "text" name = "search" style="width:800px;" >
					<button>검색</button>
				</form>
			</div>
		</article>
	
		<article id = "LoginLoginMenu">
			<%if(userID == null){%>
				<form method = "post" action = "./userLogin.ejs">
					<div id = "IDPWD1">
					<div id = "id">
							아이디
							<div id = "idbox"><input type = "text" name = "userID" class = "form-control" size = 10></div>
						</div>
						<div id = "psd">
							패스워드
							<div id = "psdbox"><input type = "password" name = "userPassword" class = "form-control" size = 10></div>
						</div>
						<button id = "LogIn"type = "submit" >로그인</button>
					</div>
					<div id = "IDPWD1">
						<div id = "CreateIDAndPassWord">
							<a href = "./userJoin.ejs">회원가입</a>
						</div>
						<div id = "FindIDAndPassWord">
							<a href = "./findID.ejs">아이디찾기 /</a>
							<a href = "./findPassword.ejs">비밀번호찾기</a>
						</div>
					</div>
				</form>
			<%}else{ %><a href = "./userLogOut.ejs">로그아웃.</a><%} %>
		</article>
	</section>
</body>

</html>
