<%
	//검색조건으로 검색한 보드 데이터시트
	var[] boardList;
	//정확히 모르겠어서 
	//	.size라고 해뒀는데 
	//해당 검색으로 데이터수를 수정해줘야할듯..
	//
%>



<%
String userID = null;
String boardType="freeForum";
//현재 페이지 번호
int pageNo=1;
//페이지당 보드 출력수.
int boardIndexNoPerPage=15;

if(session.getAttribute("userID")!=null)
{
	userID = (String) session.getAttribute("userID");
}
%>




<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset = "UTF-8">
<title>WTG</title>
<link rel = "stylesheet" href = "styles/styles.css"/>
</head>
</head>
<body>
<header>
	<% include ../part/header.ejs %>
</header>
<section>
	<article id = freeForum1>
		<div id = "upperBoardBorderSolid">
			자유게시판
		</div>
		<div id = "mainBoard">
			<table style="width:100%;text-align:center;" >
				<thead style ="text-align:center;background-color:#B2CCFF;">
					<tr >
						<th width="10%">번호</th>
						<th width = "40%">제목</th>
						<th width = "15%">등록일</th>
						<th width = "15%">작성자</th>
						<th width = "10%">조회수</th>
					</tr>
				</thead>
				<tbody>

<%//보드 내용 검색
					//보드 에러
					if(boardList==null){%>
						<tr><td colspan = "6"><h1 >등록된 보드가 없습니다.</h1></td></tr>
					<%}
					
					//보드 검색내용 없음
						else if(boardList.size()==0){%>
						<tr><td colspan = "6"><h1 >등록된 글이 없습니다..</h1></td></tr>
					<%}
					
					//보드 검색중.
					else{
						//순서검색.
						int  NoStart = boardList.size()-(pageNo-1)*boardIndexNoPerPage;int NoNextStart = NoStart-boardIndexNoPerPage;

						//출력
						for(int indexNo=NoStart ;(indexNo>=1)&&(indexNo>NoNextStart);indexNo--){
							<tr>
								<td><a href = "freeForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=indexNo%></a></td>	
								<td><a href = "freeForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardTitle%></a></td>	
								<td><a href = "freeForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardEnrollDate%></a></td>	
								<td><a href = "freeForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardWriter%></a></td>
								<td><a href = "freeForum2.ejs?boardNo=<%=boardList[indexNo-1].boardNo%>" style="text-decoration:none;color:black"><%=boardList[indexNo-1].boardViews%></a></td>	
							</tr>
					
						<%}
					}%>
				</tbody>
			</table>
		</div>
		<div id = "BoardSearch">
			
			<%
			//글수에 따라 << 1 ... 10>>, <<현재 , ... , 현재+8 >>식 이동.
			//가장 오랜된글 >>(맨끝으로)
			//1 : <<(최신글로)
			//MaxIndexAdd1 : 10개 못채우는 나머지 있을때 최대페이지번호 +1해줘야함.
			if(boardList!=null&&boardList.size()!=0){
				int MaxIndexAdd1=0;	
				if(boardList.size()%boardIndexNoPerPage!=0){MaxIndexAdd1=1;}
						int MaxIndex=(boardList.size()/boardIndexNoPerPage)+MaxIndexAdd1;%> 
						<div id="BoardPageNo">
							<a href="freeForum.ejs?pageNo=<%=1%>"><<</a>
								<%
								//시작번호 10넘어가면 현재번호부터 10개
								if(pageNo>10)
								{
									//-10돌아가는 < 추가.%>
									<a href="freeForum.ejs?pageNo=<%=pageNo-10%>"> &nbsp < &nbsp </a>	
									<%//1페이지씩 표시.
									for(int i=pageNo;(i<pageNo+10)&&(i<=MaxIndex);i++)
									{%>
										<a href = "freeForum.ejs?pageNo=<%=i%>"><%=i%></a>
									<%}
									//+10이후 더있으면 +10하는 >추가.
									if(pageNo+10<MaxIndex){%><a href="freeForum.ejs?pageNo=<%=pageNo+10%>"> &nbsp > &nbsp </a><%}
								}else{		
								//1붙터 시작하면 10or최대값 까지
									for(int i=1;(i<=MaxIndex);i++){%><a href = "freeForum.ejs?pageNo=<%=i%>"><%=i%></a><%}
								}%>
								<a href="freeForum.ejs?pageNo=<%=MaxIndex%>">>></a>
						</div>
			<%}%>
			
			
			<%if(userID!=null) {%>
					<div ><a href = "./boardEnroll.ejs?boardType=freeForum"><button  >글쓰기</button></a></div>
			<%}%>
			<form  action ="./freeForum.ejs"  method = "get" >
				<select name = "Order" class =  "form-control">
					<option   value = "None" selected > 정렬</option>
					<option value = "제목" > Title</option>
					<option value = "작성자" > Writer</option>
				</select>
				<br>
				<select name = "SearchFor" class =  "form-control">
					<option   value = "All" selected > 전체</option>
					<option value = "제목" > Title</option>
					<option value = "작성자" > Writer</option>
				</select>
				<input type = "text" name = "search" style="width:800px;" >
				<button>검색</button>
			</form>
		</div>
	</article>

	<article id = "LoginLoginMenu">
		<% include ../part/login.ejs %>
	</article>
</section>
<footer>
  <% include ../part/footer %>
</footer>
</body>

</html>







